on:
  push:
    branches: [main]
  
jobs:
  Deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: Check out code
        uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Install Goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - name: Add Go bin to PATH
        run: echo "$HOME/go/bin" >> $GITHUB_PATH && goose -version

      - name: Build App
        run: ./scripts/buildprod.sh
      
      - id: 'auth'
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v3'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'
      
      - name : 'push docker image on gcloud'
        run : gcloud builds submit --tag asia-south2-docker.pkg.dev/notely-479112/notely-ar-repo/sattu18/notely

      - name: Run Migration
        run : ./scripts/migrateup.sh
      
      - name: Deploy to Cloud Run
        run: gcloud run deploy notely --image asia-south2-docker.pkg.dev/notely-479112/notely-ar-repo/sattu18/notely --region asia-south2 --allow-unauthenticated --project notely-479112 --max-instances=4



        
        
      


